@import 'material-design-lite';
.layout-transparent {
  background: url('/assets/images/bg.jpeg') center / cover;
}
.mdl-card {
  max-width: 640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  h2 {
    margin: auto;
  }
  .mdl-card__supporting-text {
    padding: unset;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: auto;
    .quality-data {
      position: relative;
      height: 125px;
      p {
        margin-bottom: 8px;
        strong {
          display: inline-block;
          width: 150px;
        }
      }
    }
    .spinner {
      position: absolute;
      left: 50%;
      margin-left: -14px;
      top: 50%;
      margin-top: -14px;
    }
    .error, .init {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 1.25em;
      top:50%;
      margin-top: -1.25em;
    }
    .ember-cli-g-map {
      height: 400px;
      margin-top: 1em;
    }
    .mdl-textfield {
      width: 100%;
    }
  }
}
