{{#mdl-nav title='Breezer' fixedHeader=true transparent=true class='layout-transparent'}}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      {{outlet}}
    </div>
  </div>
{{/mdl-nav}}
